<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Snake</title>

    <link rel="stylesheet" href="/snakeStyle.css">

    <script src="/index.js" charset="utf-8" defer></script>
    
  </head>
  <body>

    <header>

      <div class="header-image-container">
        <img src="/snakeImg.jpg" alt="Snake logo">
      </div>

      <h1 class="site-title"><a href="#">SNAKE</a></h1>

    </header>

    <nav class="navbar">
      <ul class="navlist">
        <li class="navitem"><a href="/">Game</a></li>
        <li class="navitem"><a href="/leaderboard">Leaderboard</a></li>
      </ul>
    </nav>

    {{!-- insert page template --}}
    {{{body}}}

  </body>

</html>
