<main class="game-container">
    <div class="game-content-container">
        <div class="high-score-container">
            <h2> High Score: {{highscore}} </h2>
        </div>
        <div class="game-canvas"></div>
        </div>
    </div>

</main>