<main class="game-container">
    <div class="game-content-container">
        <div class="high-score-container">
            <h2> High Score: {{highscore}} </h2>
        </div>
        <div class="game-canvas-container">
            <div id="game-canvas-container">
                <canvas id="game-canvas" width="600" height="600"></canvas>
            </div>
        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p>Enter your name:</p>
                <input type="text" id="playerNameInput">
                <button onclick="savePlayerData()">Submit</button>
            </div>
        </div>
    </div>
</main>