<main class="leaderboard-page">

    <div class="leaderboard-container">
    <h2>Leaderboard:</h2>
    </div>

    {{!-- partials --}}
    {{#each leaderboardData}}
        {{> playerData}}
    {{/each}}
    

</main>