<main class="leaderboard-page">

    <div class="leaderboard-container">
        <div class="leaderboard-canvas">
            {{!-- partials --}}
            {{#each leaderboardData}}
               {{> playerData}}
            {{/each}}
        </div>
    </div>

</main>