<main class="leaderboard-page">

    <div class="leaderboard-container">
        <div class="leaderboard-canvas">
            <h2>Leaderboard:</h2>
            {{!-- partials --}}
            {{#each leaderboardData}}
                {{> playerData}}
            {{/each}}
        </div>
    </div>

</main>