body {
    font-family: 'Georgia', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #f67811;
}

a:hover {
    text-decoration: underline; 
}

header {
    background-color: green;
    display: flex;
    align-items: center;
    position: relative;
    /* max-height: 200px; */
}

header a {
    color: #fff;
}

.header-image-container {
    max-height: 200px;
}

.header-image-container img{
   width: 100%;
   height: 100%;
   max-height: 200px;
}

.site-title {
    font-family: "Georgia", serif;
    font-size: 80px;
    font-weight: 90;
    margin: 0 0 0 20px;
    padding-top: 30px;
}

.site-title a:hover {
    text-decoration: none;
}

.content {
    display: flex;
}