
/* header  */

body {
    font-family: 'Georgia', sans-serif;
    margin: 0;
    background-color: lightgreen;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}

header {
    background-color: green;
    display: flex;
    align-items: center;
    position: relative;
    /* justify-content: center; */
    /* max-height: 200px; */
}

header a {
    color: #fff;

}

.header-image-container {
    /* max-height: 100px; */
    margin: 5px;
    border: 2px solid lightgreen;
    height: 100px;
}

.header-image-container img{
   width: 100%;
   height: 100%;
   max-height: 100px;
}

.site-title {
    font-family: "Georgia", serif;
    font-size: 80px;
    font-weight: 90;
    margin: 0 0 0 0px;
}

.site-title a:hover {
    text-decoration: none;
}

.high-score-container{
    color: white;
    font-family: "Georgia", serif;
    font-size: 25px;
    position: absolute;
    left: 70%;
}

/* navbar  */

.navbar {
    font-size: 22px;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navlist {
    margin: 0;
}

.navitem {
    display: inline-block;
    /* width: 100%; */
}

.navitem:hover {
    background-color: lightgreen;
}

.navitem:hover a{
    color:green;
    text-decoration: none;
}

.navitem a {
    display: inline-block;
    color: white;
    padding: 5px 5px;
}

.content {
    display: flex;
}

/* game page  */

.game-container {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    /* border: 2px solid red; */
    /* height: 100%; */
}

.game-content-container {
    /* display: flex;
    justify-content: center; */
    /* height: 100%;
    width: 100%;
    border: 2px solid pink;
    width: 600px;
    height: 600px;
    margin: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); */
 
}

#game-canvas {
    border: 2px solid black;
    background-color: darkgray;
    width: 600px;
    height: 600px;
    margin: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

/* leaderboard page  */

.leaderboard-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.leaderboard-container {
    display: flex;
    justify-content: center; 
    
}

.leaderboard-canvas {
    /* border: 2px solid red; */
    width: 400px;
    height: 630px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 2px solid black;
    /* position: absolute; */
}


/* player data */

.player-data-container {
    /* border: 2px solid green; */
    padding: 5px;
    margin: 10px;
    border: solid 2px green;
    width: 90%;
}

span {
    text-decoration: none;
    color: green;
    font-size: 150%;
}

.modal{
    display: none;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    opacity: 50%;
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
    background-color: white;
    background-color: lightgreen;
    padding: 20px;
    border: 1px solid black;
    font-size: 150%;
}

.close {
    color: darkgreen;
    float: right;
    cursor: pointer;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

.modal-content {
    margin: auto;
}

/* error page */

.error-container{
    display: flex;
    justify-content: center;
}
