
/* header  */

body {
    font-family: 'Georgia', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}

header {
    background-color: green;
    display: flex;
    align-items: center;
    position: relative;
    /* justify-content: center; */
    /* max-height: 200px; */
}

header a {
    color: #fff;

}

.header-image-container {
    /* max-height: 100px; */
    margin: 5px;
    border: 2px solid greenyellow;
}

.header-image-container img{
   width: 100%;
   height: 100%;
   max-height: 100px;
}

.site-title {
    font-family: "Georgia", serif;
    font-size: 80px;
    font-weight: 90;
    margin: 0 0 0 0px;
}

.site-title a:hover {
    text-decoration: none;
}

/* navbar  */

.navbar {
    font-size: 22px;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navlist {
    margin: 0;
}

.navitem {
    display: inline-block;
    /* width: 100%; */
}

.navitem:hover {
    background-color: white;
}

.navitem:hover a{
    color:green;
    text-decoration: none;
}

.navitem a {
    display: inline-block;
    color: white;
    padding: 5px 5px;
}

.content {
    display: flex;
}

/* game page  */

.game-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.game-content-container {
    display: flex;
    justify-content: center; 
}

#game-canvas {
    border: 2px solid red;
    width: 600px;
    height: 600px;
    margin: 10px;
}

.high-score-container {
    /* border: 2px solid green; */
    background-color: green;
    width: 200px;
    height: 50px;
    margin: 10px;
    font-family: "Georgia", serif;
}

.high-score-container a{
    color: white;
    text-decoration: none;
}

/* leaderboard page  */

.leaderboard-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.leaderboard-container {
    display: flex;
    justify-content: center; 
    
}

.leaderboard-canvas {
    /* border: 2px solid red; */
    width: 400px;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    background-color: yellow;
}

/* player data */

.player-data-container {
    /* border: 2px solid green; */
    padding: 0 0 0 0;

}

.player-data-container a{
    /*color:*/
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: yellowgreen;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    width: 50%;
}

.close {
    color: darkgreen;
    float: right;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}